<!DOCTYPE html>
<html>
  <head>
  <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

    <title>Chavara App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>



    <%= javascript_pack_tag "custom", "data-turbolinks-track" => true  %>
    <%= javascript_pack_tag 'images-loded', "data-turbolinks-track" => true  %>
    <%= javascript_pack_tag 'isotope', "data-turbolinks-track" => true  %>
    <%= javascript_pack_tag 'contact-form-script', "data-turbolinks-track" => true  %>
    <%= javascript_pack_tag 'form-validator', "data-turbolinks-track" => true  %>
    <%= javascript_pack_tag 'smoothscroll', "data-turbolinks-track" => true  %>

    <%= javascript_pack_tag 'slider-index', "data-turbolinks-track" => true  %>
    <%= javascript_pack_tag 'bootstrap', "data-turbolinks-track" => true  %>

    <%= javascript_pack_tag 'popper', "data-turbolinks-track" => true  %>
    <%= javascript_pack_tag 'jquery', "data-turbolinks-track" => true  %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>





    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'signinstyles', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'bootstrap.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'pogo-slider.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'responsive', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
   
    


    
  </head>

  <body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

  <div id="preloader">
  <div class="loader">
		<%= image_tag("loader.gif") %>
  </div>
</div>
 
    <%= render 'include/header' %>
    <%= yield %>
    <%= render 'include/footer' %>
  </body>
  
</html>
