<main class="form-signin text-center">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="form-group">
  <%= f.label :add_profile_picture %><br />
  </div>
    <div class = "form-floating">
          
          <%= f.file_field :avatar,class:"form-control" %>
          
    </div>
    <br />
  <div class="form-floating">
    <%= f.text_field :name, autofocus: true, autocomplete: "name",class:"form-control" %>
    <%= f.label :name %>
  </div>
  <br />
  <div class="form-floating">
    <%= f.text_field :age, autofocus: true, autocomplete: "age",class:"form-control" %>
    <%= f.label :age %><br />
  </div>
  <br />
  <div class="form-floating">
    <%= f.text_field :email, autofocus: true,class:"form-control" %>
    <%= f.label :email %><br />
  </div>
  <br>  
  <div class="form-floating">:
    <%= f.collection_select :standard_id, Standard.all, :id, :name, include_blank: false,class:"form-select form-select-lg mb-3"%>
    <%= f.label :Standard %><br />
  </div>
<br>
  <div class="form-floating">:
    <%= f.collection_select :role_id, Role.all, :id, :name, include_blank: false,class:"form-select form-select-lg mb-3" %>
    <%= f.label :Role %><br />
  </div>
  
  
   <br />
  <div class="form-floating">
    <%= f.password_field :password, autocomplete: "new-password",class:"form-control"  %>
    <%= f.label :password %>
  </div>
  <% if @minimum_password_length %>
  <em>(<%= @minimum_password_length %> characters minimum for password)</em>
  <% end %>
  <div class="form-floating">
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control" %>
    <%= f.label :password_confirmation %><br />

  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>   
</main>